<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Document</title>
</head>

<body>
  <h1 style="color: aqua;">blablabla</h1>
  This is a nanny hiring proposal from:<br>
  Name: {{parentName}},<br>
  Email: {{parentEmail}},<br>
  Phone number: {{parentPhoneNumber}},<br>
  City: {{parentCity}},<br>
  Address: {{parentAddress}}<br>

  {{parentName}} wants to hire:<br>
  <img src="{{nannyImageUrl}}" alt="{{nannyName}}" width="100"><br>
  Nanny's name: {{nannyName}},<br>
  Nanny's gender: {{nannyGender}},<br>
  Nanny's phone number: {{nannyGender}},<br>
  Nanny's birth date: {{nannyBirthDate}}<br>

  Do you agree?<br>
  <form action="http://localhost:3001/emailing/agency/accept" method="POST">
    <input type="hidden" id="parentId" name="parentId" value="{{parentId}}">
    <input type="hidden" id="nannyId" name="nannyId" value="{{nannyId}}">
    <input type="hidden" id="agencyId" name="agencyId" value="{{agencyId}}">
    <input type="submit" value="YES">
  </form>

  <form action="http://localhost:3001/emailing/agency/refuse" method="POST">
    <input type="hidden" id="parentId" name="parentId" value="{{parentId}}">
    <input type="hidden" id="nannyId" name="nannyId" value="{{nannyId}}">
    <input type="hidden" id="agencyId" name="agencyId" value="{{agencyId}}">
    <input type="submit" value="NO">
  </form>
</body>

</html>