<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Document</title>
</head>

<body>
  This agency:<br>
  <img src="{{agencyLogoUrl}}" alt="{{agencyName}}" width="100"><br>
  Name: {{agencyName}},<br>
  Email: {{agencyEmail}},<br>
  Address: {{agencyAddress}},<br>
  Phone number: {{agencyCity}},<br>
  City: {{agencyCity}},<br>

  has <b>refused</b> your hiring proposal for this nanny:<br>
  <img src="{{nannyImageUrl}}" alt="{{nannyName}}" width="100"><br>
  Nanny's name: {{nannyName}},<br>
  Nanny's gender: {{nannyGender}},<br>
  Nanny's phone number: {{nannyGender}},<br>
  Nanny's birth date: {{nannyBirthDate}}<br>
</body>

</html>